PORT=4000
REDISABLED=false
REDSHIFT_HOST=example-cluster.abc123.us-east-1.redshift.amazonaws.com
REDSHIFT_PORT=5439
REDSHIFT_DB=analytics
REDSHIFT_USER=admin
REDSHIFT_PASSWORD=change-me
REDSHIFT_SCHEMA=public
REDSHIFT_SSL=true
